/*
  --color-primario: #007BFF;
  --color-verde: #28A745;
  --color-naranja: #FF8000;
*/

*
{
	margin: 0;
	padding: 0;
  color: #ffffff;
}

html
{
  font-size: 62.5%;
}

body
{
  background-color: #000000;
}

/*  HEADER  */

header
{
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ff0000;
}

.nav
{
  height: 100%;
  display: flex;
  align-items: center;
  
}

.navigation
{
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-between;
}

.abrirMenu,
.cerrarMenu
{
  display: none;
  font-size: 4.5rem;
  color: #00000000; 
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-right: 10px;
}

ul
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

li
{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

li a
{
  color: #ffffff;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
  
  border-radius: 50%;
  background-color: #00000000;
  transition: background-color 0.5s;
}

li a:hover
{
  background-color: #000000;
  color: #ff0000;
}

.img-logo
{
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px #ffffff;
}

/*  MAIN  */

main
{
  margin-top: 300px;
}

h1
{
  font-size: 9rem;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ffffff;
  text-shadow: 10px 10px 10px #ff1919, 10px 10px 20px #000000, 10px 10px 50px #ffffff;
}

.fadeIn
{
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.shadow
{
  text-shadow: 0 0 20px #ffffff, 0 0 10px #e71212;
}

section
{
  margin: 200px 0;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.hook
{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

h2
{
  font-size: 5rem;
}

p
{
  font-size: 2rem;
}

h3
{
  color: #df0000;
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #7c6f6f;
}

h4
{
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
}

h5
{
  font-size: 5rem;
  font-style: italic;
  font-weight: bold;
}

h6
{
  font-size: 3rem;
  text-align: left;
}

input[type=text], select, textarea 
{
  width: 100%;
  padding: 12px;
  color: #000000;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] 
{
  background-color: #000000;
  color: white;
  font-size: 1.5rem;
  padding: 12px 20px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
}

input[type=submit]:hover 
{
  background-color: #ff0000;
}

label
{
  font-size: 1.5rem;
  text-shadow: 0 0 10px #000000, 0 0 20px #ffffff;
}

option
{
  color: #000000;
}

button
{
  color: #000000;
}

.img-inicio
{
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.slogan
{
  margin: 80px 0;
}

.video
{
  width: 100%;
  height: 500px;
  margin-top: 15px;
}

.sectionBlog
{
  align-items: center;
}

.title
{
  margin-bottom: 80px;
}

.blogEntry
{
  border: #ffffff solid;
  box-shadow: 0 0 20px #ffffff;
  padding: 25px;
  max-height: 1000px;
  overflow: hidden;
}

.blogEntry .blogParagraph
{
  font-size: 18px;
  text-align: justify;
  overflow-y: scroll;
  max-height: 200px;
}

.blogEntry2
{
  border: #ffffff solid;
  box-shadow: 0 0 20px #ffffff;
  padding: 25px;
  max-height: auto;
  align-items: center;
  margin: 100px auto;
}

.post
{
  margin: 20px auto;
}

.rowBlog
{
  justify-content: space-between;
}

.postGap
{
  margin: 40px auto;
}

.regularPost
{
  text-align: justify;
  font-size: large;
}

.imgBlog1
{
  width: 100%;
  height: 500px;
  margin: 5px 5px 20px 5px;
}

.imgBlog2
{
  width: 100%;
  max-height: 400px;
}

.imgBlog3
{
  height: 700px;
  margin: 20px auto;
  width: 100%;
}

.fecha
{
  position: relative;
  font-size: 1rem;
  font-style: italic;
}

.botonMas
{
  height: 45px;
  width: 110px;  
  padding: 8px;
  background-color: #ffffff;
  transition: background-color 0.5s;
  border-radius: 20px;
  font-size: 1.5rem;
  color: #000000;
}

.aboutUs
{
  margin: 250px auto;
}

.retrato
{
  height: auto;
  width: auto;
}

.yo
{
  margin: 100px auto;
}

.yo p
{
  text-align: left;
  margin-left: 0;
}

.opinión
{
  font-size: 1.5rem;
  font-style: italic;
}

.gap
{
  margin: 40px auto;
}

.listaKaizen
{
  margin: 50px auto;
}

.subrayado
{
  text-decoration: underline;
}



.sobre
{
  font-size: 2rem;
}

.sobre-1
{
  font-size: 1.5rem;
}

.gracias
{
  font-size: 3rem;
}

.promesa
{
  width: 100%;
  height: 600px;
  margin: 100px auto;
  align-items: center;
  text-align: center;
}

.promesa img
{
  border-radius: 80px;
  width: 100%;
}

.center
{
  align-items: center;
  text-align: center;
}

.listaPromesa
{
  font-size: 3rem;
  margin: 15px auto;
}

.formulario
{
  margin-top: 150px;
  padding: 40px;
  background-color: #747474;
  border-radius: 50px;
  box-shadow: 20px 20px 30px #ccc;
  align-items: center;
}

.mainGap
{
  margin: 300px auto;
}

.map
{
  width: 100%; 
  height: 450px;
}

.frame1
{
  border: 1px solid #747474;
  border-radius: 40px;
  padding: 20px;
  margin: 30px auto;
}

/*  FOOTER  */

footer
{
  width: 100%;
  height: 80px;
  background-color: #ff0000;
  display: flex;
  margin-bottom: 0;
}

footer ul li
{
  list-style: none;
}

footer ul li a
{
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  border-radius: none;
}

footer ul li a:hover
{
  color: #000000;
  background-color: #00000000;
}

.elFooter
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rrss
{
  display: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 768px) {
  
  .abrirMenu,
  .cerrarMenu {
    display: block;
  }

  .nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: max-content;
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 0 0 100vmax #00000080;
  }

  .visible
  {
    opacity: 1;
    visibility: visible;
  }

  .navList
  {
    flex-direction: column;
    align-items: end;
  }

  .redesSociales
  {
    display: none;
  }

  .copy
  {
    font-size: 1.5rem;
  }

  .rrss{
    display: flex;
  }

}